# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
SCRS2013-150
SCRS2013-58
albn.Rproj
.~lock.D4.1_NALB_ok.docx#
